<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% extends 'base.html' %}



{% block title %}
Làm bài thi
{% endblock %}


{% block content %}
<div class="jumbotron">

  <div class="floating-timer">
    <label id="remaining_time">{{remaining_time}}</label>
  </div>

	<div class="floating-div">

  <h1>{{ baithi.khthi.ten }}</h1>
  
  <h4>Môn thi: {{ baithi.khthi.mon_thi }}</h4>
  <h4>Họ tên: {{ baithi.thi_sinh }}</h4>
  <h4>Ngày: {{ baithi.khthi.ngay_thi|date:"d/m/Y" }}</h4>
  <h4>Thời gian bắt đầu theo kế hoạch: {{ baithi.khthi.tg_bat_dau|time:"H:i" }}</h4>
  <h4>Thời gian bắt đầu thực tế: {{ baithi.khthi.tg_thi_batdau|time:"H:i" }}</h4>
  <h4>Thời gian thi: {{ baithi.khthi.tg_thi}}</h4>
  <h4>Số câu đã trả lời: {{socaudatraloi}} / {{soluongcauhoi}}</h4>
  </div>
  
  <form action="../finish/" method="post">
<!--   <form id="question_form" method="post"></form> -->
  	{% csrf_token %}
	{% for q, answers in questions %}
		<div class="question">
		<hr />
		<h4 id="cau_{{forloop.counter}}">Câu {{forloop.counter}}: {{ q.noiDung }}</h5>
		{% for a in answers %}
			{% if a.pk in traloi %}			
				<input type="radio" name="{{ q.id }}" value="{{ a.id }}" checked="checked"> {{ a.dapAn }} </input>
			
			{% else %}
			
				<input type="radio" name="{{ q.id }}" value="{{ a.id }}"> {{ a.dapAn }} </input>
			
			{% endif %}
			<br />
		{% empty %}
		{% endfor %}
			<input type = "submit" name="" value="Lưu" formaction="save/{{forloop.counter}}/"/>
<!-- 			<a href="save/{{forloop.counter}}/">Lưu</a> -->
		</div>
		
	{% empty %}
		<li>Không có câu hỏi nào</li>
	{% endfor %}
	
	<br />
 	<input class="btn btn-primary btn-lg" 
 	type = "submit" name="finish" value="Hoàn thành" onclick="finishBaiThi();"
 	/>
  
  </form>
  
  <div class="question-list">
	{% for q, answers in questions %}
		<a href="#cau_{{forloop.counter}}" >Câu {{ forloop.counter }}</a><br>
	{% endfor %}
  </div>

</div>

<script>
//window.onbeforeunload = function (e) {
//    var e = e || window.event;
//    var msg = "Do you really want to leave this page?"

    // For IE and Firefox
//    if (e) {
//        e.returnValue = msg;
//    }

    // For Safari / chrome
//    return msg;
// };
 
 var myVar = setInterval(myTimer, 60000);
 function myTimer() {
     //var d = new Date();
     var t = document.getElementById("remaining_time").innerHTML;
     t = parseInt(t);
	if (t<=0){
		window.alert("Đã hết thời gian làm bài, bấm vào nút OK để hoàn thành bài thi")
		var host = window.location.host;
		var protocol = window.location.protocol;
		var pathArray = window.location.pathname.split('/');
		//window.alert(window.location.href)
		newPathName = "";
		for(i = 0; i<pathArray.length-2; i++){
			newPathName += pathArray[i];
			newPathName += "/";
		}
		newPathName += "finish/";
		newHref = protocol + "//" + host + newPathName;
		//window.alert(newHref);
		window.location.href = newHref; 
	}
     t = t - 1;
     document.getElementById("remaining_time").innerHTML = t.toString();
 }
</script>

{% endblock %}